@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  height: 100vh;
  background: #2d2d2d;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar{
  display: none;
}

.main_div
{  
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.back
{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: x-large;
  color: #0077ff;
  text-decoration: none;   
  margin-left: 5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}

.back:hover{
  color: #004594;
}

.main_Title
{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: #ffffcc;
  text-decoration: none;  
  margin-left: 10%;
  margin-right: 10%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}

.main_description{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: #ffffcc;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main_content{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: large;
  color: #ffffcc;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.main_content_center{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: large;
  color: #ffffcc;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.row::after {
  content: "";
  clear: both;
  display: flex;
}

.one{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  max-width: 25%;
}
.two{
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  max-width: 45%;
}

.three{
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  max-width: 480px;
}

.four{
  margin-left: auto;
  margin-right: auto;
  width:1300px;
  max-width: 540px;
}

.experiment_link{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: #00ffaa;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.experiment_link:hover{
  color: #009261;
}

.code_block
{
  color: #ffffff;
  font-size: x-large;
  justify-content: center;
  text-align: left;
}

.code_block code
{
  margin-left: 25%;
}
.code_block pre
{
  margin-left: 15%;
  color: #ffffff;
  text-decoration: none;
}
.comment{
  margin-left: 15%;
  color: #008111;
}

.link1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: #00ffaa;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.link1:hover{
  color: #009261;
}





