@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  height: 100vh;
  /*background: #ccffcc;*/
  background: #0d1622;
  overflow: hidden;
}

.center
{
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  align-items: center;
  text-align: center;
}

.links{

  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.home_h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 400%;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.home_p_big{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.home_p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}