@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  height: 100vh;
  background: #0d1622;
  overflow: hidden;
}


.div_links{
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}


.div_links a{

  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: antiquewhite;
  text-decoration: none;

  float: right;
  display: block;
  padding: 20px 20px;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.div_links a:hover{
  color: rgb(131, 123, 112);
}

.home_h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 400%;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.home_p_big{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.home_p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: antiquewhite;
  text-decoration: none;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}