@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  height: 100vh;
  background: #2d2d2d;
  overflow: hidden;
}


.main{
  position: fixed;
  top: 25%;
  left: 10%;
  height: 50%;
  width: 80%;
}
.maintext{
  position: relative;
  float: right;
  left: 10%;
  top: -60%;
  height: 60%;
  width: 80%;
}
.main_h1{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 300%;
  color: antiquewhite;
  text-decoration: none;
  margin-bottom: 10px;
}
.main_caption{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: rgba(250, 235, 215,0.75);
  text-decoration: none;
  margin-top: 1px;
  margin-bottom: 0;
}
.main_description{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: large;
  color: #ffffcc;
  text-decoration: none;
  margin-top: 10%;
}

.animated_title{
  animation: fade-in-right .5s;
  animation-delay: .1s;
  animation-fill-mode: both;
}
.animated_caption{
  animation: fade-in-right .5s;
  animation-delay: .2s;
  animation-fill-mode: both;
}
@keyframes fade-in-right{
  0%{
    opacity: 0;
    transform: translateX(-20px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

.mainpic{
  position: relative;
  float: left;
  left: 20%;
}
.main_pic{
  float: left;
  left: 10px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  transform: scaleX(-1);

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.animated_pic{
  animation: fade-in .75s;
  animation-delay: s;
  animation-fill-mode: both;
}
@keyframes fade-in{
  0%{
    opacity: 0;
    size: 0%;
  }
  100%{
    opacity: 1;
    size:100%;
  }
}




.div_links{
  overflow: hidden;
  position: fixed;
  top: 0;
  margin-bottom: 10px;
  width: 100%;
}
.div_links a{

  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: antiquewhite;
  text-decoration: none;

  float:right;
  display: block;
  padding: 20px 20px;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.div_links a:hover{
  color: rgb(165, 155, 141);
}
