.body {
        height: 100vh;
        background: linear-gradient(to bottom, #80dfff,#ffbb33);
        overflow: hidden;
      }

.maintext{
	font-family : "Noto Sans";
	font-size: 30px;
	font-weight: BOLD;
}
