
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    overflow: hidden;
    text-shadow: 
    1px 1px 0px #000, 
    -1px -1px 0px #000, 
    1px -1px 0px #000, 
    -1px 1px 0px #000;
    user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .background {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url('../Projects/Waterways/Images/WaterwaysDemo.gif') no-repeat center center/cover;
    z-index: -1;
    filter: blur(10px);
  }
  
  .content {
    display: flex;
    align-items: center;
    z-index: 1;
    text-align: left;
    color: #333;
    max-width: 1300px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .image {
    flex-shrink: 0;
    max-width: 350px;
    width: 100%;
    padding: 1.15em;
    height: auto;
  }
  
  .image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #fff;
  }
  
  .text {
    flex: 1;
    margin-left: 0.5rem; 
    max-width: 1100px;
    padding: 1rem;
  }
  
  h1 {
    font-size: 3.5rem;
    margin-bottom: 0.75rem;
    text-align: center;
    color: #fff;
  }
  
  p {
    font-size: 1.8rem;
    text-align: center;
    line-height: 1.5;
    color: #f0f0f0;
  }
  
  .a1 {
    color: #ff5e00;
    text-decoration: none;
  }
  
  .a1:hover {
    color: #ce4b00;
  }

  .a2 {
    color: #ffc400;
    text-decoration: none;
  }
  
  .a2:hover {
    color: #ca9b00;
  }

  .a3 {
    color: #30ad50;
    text-decoration: none;
  }
  
  .a3:hover {
    color: #217737;
  }

  .a4 {
    color: #ad8fde;
    text-decoration: none;
  }
  
  .a4:hover {
    color: #805db9;
  }
  
  
  .button {
    display: inline-block;
    padding: 0.5rem 1rem;
    background: dodgerblue;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 0.5rem;
    font-weight: bold;
    transition: background 0.3s ease;
  }
  
  .button:hover {
    background: #0056b3;
  }

  .links {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1.5rem; /* Space between icons */
    margin-top: 1rem;
  }
  
  .links a {
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
  }
  
  .links a:hover {
    transform: scale(1.5);
  }
  
  .links img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  
  @media (max-width: 768px) {
    .content {
      flex-direction: column;
      align-items: center; 
    }
  
    .image {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  
    .text {
      text-align: center;
      margin-left: 0;
      max-width: 100%;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    p {
      font-size: 1.5rem; 
    }

    .links a {
      width: 50px;
      height: 50px;
    }
  }
  
  @media (max-width: 480px) {
    h1 {
      font-size: 1.8rem;
    }
  
    p {
      font-size: 1.25rem;
    }
    
    .links a {
      width: 45px;
      height: 45px;
    }
  }
  