@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body
{
  height: 100vh;
  background: #2d2d2d;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar{
  display: none;
}

.main_div
{  
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: center;
}

.back
{
  font-family: 'Poppins', sans-serif;
  text-align: left;
  font-size: x-large;
  color: #0077ff;
  text-decoration: none;   
  margin-left: 5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}

.back:hover{
  color: #004594;
}

.main_Title
{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xxx-large;
  color: #ffffcc;
  text-decoration: none;  
  margin-left: 10%;
  margin-right: 10%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  
}


.main_description{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: #ffffcc;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.experiment_link{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: #ffc400;
  text-decoration: none;
  margin-top: 40px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.exp_description{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: large;
  color: #ffd858;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 5px; 
    
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.experiment_link:hover{
  color: #b08700;
}

.subtext{
  position: fixed;
  bottom: 0;
  width: 100%;

  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: min(2vw, 1.5vh);
  color: #ffc400;
  text-decoration: none;
  
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


