@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  height: 100vh;
  background: #0b040b;
  color: #ffffff;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  max-width: 1300px;
  justify-self: center;
  justify-items: center;
}

body::-webkit-scrollbar {
  display: none;
}

.main_div {
  margin-top: 100px;
  margin-bottom: 50px;
  justify-content: center;
  position: relative;
  /* Allows absolute positioning inside */
  width: 90%;
  overflow-y: auto;
  /* Enables scrolling inside */
  padding: 20px;
  margin: 50px auto;
}

.floating-button {
  position: absolute;
  left: 10px;
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  color: #0b040b;
  border: none;
  border-radius: 50%;
  /* Makes it circular */
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.13s ease-in-out, background-color 0.13s ease-in-out;
}

.floating-button:hover {
  background-color: #ffffff6d;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}




.main_Title {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: x-large;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;

}

.h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: xx-large;
  color: #ffffff;
  text-decoration: none;
  margin-left: 10%;
  margin-right: 10%;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.main_description {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

p {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  text-decoration: none;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 7.5%;
  margin-right: 7.5%;

  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.row::after {
  content: "";
  clear: both;
  display: flex;
}

.one {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.two {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.three {
  max-width: 100%;
}

.four {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}